name: CI
on: [pull_request]
jobs:
  build:
    env:
      NODE_ENV: test
      ORG_NAME: Sample
      ORG_URL: https://sample-cdms.org
      CONSENT_FHIR_SERVERS: https://fhir-cdms1/base,https://fhir-cdms2/base
      SENSITIVITY_TAGGING_RULES: '[{"id":"sample-rule-1","basis":{"system":"http://terminology.hl7.org/CodeSystem/v3-ActCode","code":"42CFRPart2","display":"42 CFR Part2"},"labels":[{"system":"http://terminology.hl7.org/CodeSystem/v3-ActCode","code":"ETH","display":"substance abuse information sensitivity"}],"codeSets":[{"groupId":"ketamine","description":"ketamine substance use","codes":["$SNOMED#724713006","$ICD10#F191"]},{"groupId":"opiod","description":"opiod substance use","codes":["$SNOMED#145121000119106","$ICD10#F111"]}]}]'
      CONFIDENTIALITY_TAGGING_RULES: '[{"id":"sample-rule-1","basis":{"system":"http://terminology.hl7.org/CodeSystem/v3-ActCode","code":"42CFRPart2","display":"42 CFR Part2"},"labels":[{"system":"http://terminology.hl7.org/ValueSet/v3-Confidentiality","code":"R","display":"restricted"}],"codes":["$ACT-CODE#ETH","$ACT-CODE#HIV"]}]'
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
      - uses: borales/actions-yarn@v4
        with:
          cmd: test # will run `yarn test` command
